<%= link_to("Create a new article", new_article_path) %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>

<h1>Listing articles</h1>
 
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>
 
  <% @articles.each do |article| %>
    <tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		<td><%= link_to 'Edit', edit_article_path(article) %></td>
		<td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>